<!-- <div id="header">
        <app-connected-site-header></app-connected-site-header>
        <app-site-header></app-site-header>'
</div> -->

<div *ngIf="exis">   
        <app-connected-site-header></app-connected-site-header>
</div>
<div *ngIf="!exis">
        <app-site-header #notCon></app-site-header>
</div>


<br>
<input [(ngModel)]="marque" />
<!-- <a [routerLink]="['/Products', marque]"> Va chercher </a> -->

<button [routerLink]="['/Products', marque]" type="button" class="btn btn-primary" 
        tooltip="Appuyez pour rechercher">rechercher</button>
        <br/><br/>


<router-outlet></router-outlet>
<br>
<app-item-list-cat category="phone"></app-item-list-cat>
<app-item-list-cat category="vehicule"></app-item-list-cat>
<app-item-list-cat category="multimedia"></app-item-list-cat>

<app-item-list-cat></app-item-list-cat>
<app-item-list-cat></app-item-list-cat>
<app-site-footer></app-site-footer>





